<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <title>CS360 Team#10</title>
</head>

<body class="align">
  <header>
      <div class="wrapper">
          <a href="/"><img src="/res/logo.png" width="150"></a>
          <nav>
            <ul class="menu">
                <li><a href="/play/return"> 도감 </a></li>
                <li><a href="/play"> 놀이방 </a></li>
                <li><a href="/adventure"> 탐험 </a></li>
                <li><a href="/shop"> 상점 </a></li>
                    <li>
                        <% if (name) { %>
                            <a href="/mypage" > <%= name %> </a>
                        <% } else { %>
                            <a href="/login" > 로그인 </a>
                        <% } %>                    
                    </li>
                    <li> <a href="/api/logout">
                        <% if(name){ %> 로그아웃 <% }
                        else{ %><% } %>
                    </a> </li>
              </ul>
          </nav>
     </div>
  </header>
  
  <div class = "page_container">
    <div class = "title"> <h2> 내 골드 </h2> </div>
    <div class = "gold_container">
      <div class = "gold">
          <p> <%= gold %> Gold </p>
      </div>
    </div>

    <div class="card-container">
        <div class = "title"> <h2> 내 포켓몬 </h2> 평균 공격력 : <%= avgAtk %> </div>
        <ul>
            <% for (var i=0; i < length; i++) { %>
            <li>   
                <div class="responsive">
                    <div class="card">
                        <div class="img-container">
                            <img src= <%= myPokemons[i]['img_path'] %> >
                        </div>

                        <div class="info-container">
                            <div class="section">
                                <p> <%= myPokemons[i]['name'] %> </p>
                            </div>
                        </div>

                        <div class="desc">
                            ATK. <h2> <%= myPokemons[i]['atk'] %> </h2>
                        </div>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
  </div>



</body>
</html>
